@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.logo{
    width: 195px;
    margin-left: 98px;
    margin-top: 27px;
    display: inline-block;
}
.navbar-li{
    float: right;
    margin-right: 18px;
}
.navbar-li1{
    margin-right: 117px;
    float: right;
}
.adress{
    font-size: 24px;
    color: #3D58A6;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}
.section1{
    background-color: #E6E6E6;
    margin-top: 26px;
    padding: 30px 275px;
}
.box{
    background-color: #363E97;
    padding: 35px 98px;
}
.text1{
    font-size: 24px;
    font-family:'Roboto', sans-serif;
}
.video1{
    display: inline-block;
    margin-top: 30px;
}
.video2{
    display: inline-block;
    margin-left: 30px;
}
.box1{
     background-color: #BDCCD4;
     height: 450px;
     padding: 35px 98px;
}
.text2{
    font-size: 24px;
    font-family:'Roboto', sans-serif;
}
.grey-box1{
    background-color: #E6E6E6;
    height: 270px;
    width: 270px;
    display: inline-block;
    margin-top: 30px;
}
.grey-box{
    background-color: #E6E6E6;
    height: 270px;
    width: 270px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}
.text3{
    font-family:'Roboto', sans-serif;
    font-size: 22px;
    padding: 10px 15px;
}
.box2{
    background-color: #E6E6E6;
    height: 345px;
    padding: 35px 98px;
}
.text3{
    font-size: 24px;
    font-family:'Roboto', sans-serif;
}
.short-box{
    height: 225px;
    background-color: #f2f2f2;
    display: inline-block;
    
}
.title{
    font-size: 22px;
    color: #3D58A6;
    font-family:'Roboto', sans-serif;
    margin-left: 40px;
    margin-top:15px;
}
.hand{
    width: 100px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 40px;
}
.short-box1{
    height: 225px;
    background-color: #f2f2f2;
    display: inline-block;
    margin-left: 50px;
}
.text4{
    display: inline-block;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
.phone{
    width: 85px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 40px;
}
.short-text{
    float: right;
    font-size: 14px;
    font-family:'Roboto', sans-serif;
    color: #3D58A6;
    padding:10px 15px;
}


